{% extends 'base.html' %}


{% block content%}

{% load cart %}
{% load custom_filter %}

<div class="container-fluid mt-3">
  
  <div class="row">

    <div class="col-lg-3 mx-auto">
       <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">AllProducts</a>
         {% for category in categories %}
         <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
         {% endfor %}
        </div>
    </div>

    <div id="products" class="col-lg-9 mx-auto">
      <div class="row mx-auto">
        {% for product in products %}
    
        <div class="card mx-auto mb-3" id="{{product.id}}" style="width: 18rem;">   
          <img src="{{ product.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{product.price|currency}}</p>
            <!-- {{product | is_in_cart:request.session.cart }} -->
            
          </div>

          <div class="card-footer p-0 ">
            {% if product|is_in_cart:request.session.cart  %}
            <div class="row no-gutters " >
              <form action="/#{{product.id}}" class="col-2" method="POST">
                {% csrf_token %}
                <input hidden type="text" name="product" value="{{product.id}}">
                <input hidden type="text" name="remove" value="True">
                <input type="submit" value="-" class=" btn btn-blcok btn-secondary" >
              </form>
              <div class="text-center col" > {{product|cart_quantiy:request.session.cart}} in cart</div>
              <form action="/#{{product.id}}" class="col-2" method="POST">
                {% csrf_token %}
                <input hidden type="text" name="product" value="{{product.id}}">
                <input type="submit" value="+" class=" btn btn-blcok btn-secondary" >
              </form>
            </div>
            {% else %}
            <form action="/#{{product.id}}" method="POST" class="btn-block">
              {% csrf_token %} 
              <input hidden type="text" name="product" value="{{product.id}}">
              <input href="#" type="submit" class="float-right btn  btn btn-light border form-control" value="Add to cart">
            </form>
            {% endif %}
          </div>
          
        </div>
        
         {% endfor %}
      </div>
    </div>

  </div>

</div>
{% endblock %}





























































 <!-- 


<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>


               </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>



 <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>



             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>

              <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
  -->